<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744985366113-hbu8phli62npp4qn41r32vofte8knegv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744985366113-hbu8phli62npp4qn41r32vofte8knegv</string>
	<key>API_KEY</key>
	<string>AIzaSyAiePIKsnfvYIYnFUZiXoVe0xPeSn0ujNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>744985366113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devshubh69.snapgram.stg</string>
	<key>PROJECT_ID</key>
	<string>snapgram-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>snapgram-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744985366113:ios:2022abdaf68c641ac1a420</string>
</dict>
</plist>