<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67737138623-bvvhjlt3cmlm4cjem8ul90h2bvk46m6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67737138623-bvvhjlt3cmlm4cjem8ul90h2bvk46m6p</string>
	<key>API_KEY</key>
	<string>AIzaSyC0kRa_zpYrGhdXYBtZlj_tshN-aHKX43g</string>
	<key>GCM_SENDER_ID</key>
	<string>67737138623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devshubh69.snapgram</string>
	<key>PROJECT_ID</key>
	<string>snapgram-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>snapgram-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67737138623:ios:fb738e38a957ec4bf01d0a</string>
</dict>
</plist>